# Ignore build and object files
/x64/
/Debug/
/Release/
*.obj
*.exe
*.dll
*.pdb
*.log

# Ignore IDE-specific files
.vs/
.idea/
x64/
Slagalica/x64/
packages/
*.suo
*.user
*.userosscache
*.sln.docstates